/* Global Styling */
:root {
  --primary1: #3299ed;
  --primary2: #f2575f;
  --nav-select: #f9272b;
  --bg1: linear-gradient(to bottom, #c0e3f8, #fff7f7);
  --bg2: linear-gradient(to bottom, #fff7f7, #c0e3f8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background: var(--bg1);
  color: #333;
  font-family: "Inter", sans-serif;
  padding-top: 70px;
}

h1, h2 {
    font-family: "Lora", serif;
}

/* style navbar start */
.navbar {
  padding: 10px;
  background-color: #fff;
  /* margin-bottom: 800px; */
}

.navbar {
  transition: top 0.4s ease-in-out;
}

.navbar-hide {
  top: -80px; /* Sesuaikan dengan tinggi navbar */
}

.nav-brand {
  display: inline-block;
  text-align: center;
}

/* Navbar text */
.navbar span {
  user-select: none;
  text-align: start;
}

.logo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.logo-text {
  margin: 5px 0 0; /* jarak dari logo */
  font-size: 0.6em; /* lebih kecil dari ukuran default */
  line-height: 1; /* biar rapi */
  font-weight: 500;
}
/* ===== NAVBAR (Checkout + Divider) ===== */

.navbar-divider {
  color: #6c757d;     /* text-muted */
  margin: 0 10px;
}

.navbar-checkout {
  font-weight: 600;
  font-size: 1.25rem; /* fs-5 */
  color: #3299ed;     
}

/* Style navbar end */

/* ===== CARDS ===== */
.card {
  border: none;
}

.box-section {
  padding: 1px; 
}

.card-custom {
  background: #ffffff;
  border: none;
  border-radius: 20px; 
  padding: 1rem;       
}


/* ===== SHOPPING CART IMG ===== */
.cart-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3299ed;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 15px;
}
.cart-icon-box i {
  font-size: 2.2rem;
  color: white;
}

.button-wrapper {
  margin-top: 12px;       /* jarak kecil dari card */
  margin-left: 12px;      /* samakan dengan padding kiri card */
}

/* ===== PAYMENT INFO ICON ===== */

.icon-check {
  width: 45px;
  margin-right: 10px;
}


/* ===== PAYMENT WARNING TEXT ===== */

.payment-notes {
  font-size: 0.85rem;
  color: #6c757d;
  line-height: 1.6;
}

/* Popup */
.modal-content {
  border-radius: 20px;
}

/* ===== BUTTONS ===== */

.btn-copy {
  margin-bottom: 1rem;
}

.btn-confirm {
  margin-top: 0.5rem;
  border-radius: 50px; 
}

/* ===== MODAL ===== */

.modal-content {
  border-radius: 20px;
}
